.pageModal {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 300px;
}

.pageModal header {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.pageModal header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-top: 6px;
  padding-bottom: 6px;
  background-color: rgb(255, 255, 255);
}

.pageModal nav > div:hover {
  cursor: pointer;
}

.pageModal main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.pageModal main input {
  margin: 10px;
  width: 100px;
}
