.app {
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav nav"
    "main todayToDo";
  grid-template-columns: 900px 280px;
  grid-template-rows: 60px 1fr;
}

/* main */
.main {
  grid-area: main;
  display: flex;
  height: 580px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 10px 60px 40px 40px;
  box-shadow: 0px 0px 10px 2px rgb(237 237 237);
}

/* 
.login, .join {
  display: flex;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: gray;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 7px 1px #c8c8c8;
} */
/* 
.login {
}

.join {
} */
