/* .main calender */
.cal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.cal_month_header {
  height: 30px;
  width: 800px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.cal_month_header div:hover {
  cursor: pointer;
}

.cal_month_header div {
  font-size: 20px;
  font-weight: 100;
  margin: 0 40px;
}

.cal .year {
  font-family: "Distant Galaxy", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}
.cal .month {
  margin: 0;
  text-align: center;
  font-family: "Distant Galaxy", sans-serif;
}
.cal .month {
  font-size: 30px;
}

.cal_month {
  width: 780px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.week,
.weekDays {
  display: flex;
  justify-content: center;
}

.cal_month .week {
  border-radius: 5px;
  margin: 10px 0;
}

.cal_month .week:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.day {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(780px / 7);
  height: calc(300px / 6);
  align-items: center;
  justify-content: center;
  font-family: Arimo;
}

.weekDays .day {
  font-weight: 600;
  color: rgb(108, 108, 108);
  height: calc(200px / 6);
}

.weekDays .day:first-childs {
  color: rgba(228, 4, 4, 0.712);
}

.weekDays .day:last-childs {
  color: rgba(1, 1, 218, 0.651);
}

.day p {
  display: flex;
  margin: 0;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: Arimo;
}

.cal_month .selectedAssignDay {
  color: red !important;
}

.day .otherDay {
  opacity: 0.4;
}

.day .sunday {
  color: rgba(228, 4, 4, 0.712);
}

.day .saturday {
  color: rgba(1, 1, 218, 0.651);
}

.currentDay {
  border-radius: 20px;
  color: white;
  background-color: #bfb1eb;
}

/* .cal_month {
    height: 330px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .cal_month .dayOfWeek {
    width: 770px;
    display: flex;
  }
  
  .cal_month .week {
    width: 770px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0;
  }
  
  .cal_month .week:hover {
    background-color: rgb(242, 242, 242);
  }
  
  @keyframes expandWeek {
    0% {}
    100% {}
  }
  
  @keyframes moveWeek {
    0% {transform: translateY(0px)}
    100% {transform: translateY(250px);}
  }
  
  .cal_month .weekSchedule {
  }
  
  .cal_month .schedule {
    height: 100%;
  }
  
  .cal_month .expandWeek {
  }
  
  .cal_month .moveWeek {
    animation: moveWeek 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s forwards;
  }
  
  .cal_month .day {
    z-index: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    height: calc(350px / 7);
    font-size: 13px;
    border-radius:5px;
  }
  
  .cal_month .day a:hover {
    cursor: pointer;
  }
  
  .cal_month .otherMon {
    color: rgb(146, 146, 146);
  }
  
  .cal_month .day:nth-childs(7n) {
    color: #486ed7;
  }
  
  .cal_month .day:nth-childs(7n+1) {
    color: #db5178;
  } */
