/* .main calender */
.cal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.cal_month_header {
  height: 30px;
  width: 800px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cal_month_header div:hover {
  cursor: pointer;
}

.cal_month_header div {
  font-size: 20px;
  font-weight: 100;
  margin: 0 40px;
}

.cal .year {
  font-family: "Distant Galaxy", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transform: scale(1, 1.2);
}
.cal .month {
  display: flex;
  margin: 0;
  justify-content: center;
  font-family: "Distant Galaxy", sans-serif;
  color: #ffffff;
  font-size: 30px;
  background-color: #7b417b;
  width: 12rem;
  height: 2.5rem;
  align-items: center;
  border-radius: 1em;
}

.cal_month {
  width: 780px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.week,
.weekDays {
  display: flex;
  justify-content: center;
}

.cal_month .week {
  border-radius: 5px;
  margin: 10px 0;
}

.cal_month .week:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.day {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(780px / 7);
  height: calc(300px / 6);
  align-items: center;
  justify-content: center;
  font-family: "Arimo";
}

.weekDays .day {
  font-weight: 600;
  color: rgb(108, 108, 108);
  height: calc(200px / 6);
}

.weekDays .day:first-childs {
  color: rgba(228, 4, 4, 0.712);
}

.weekDays .day:last-childs {
  color: rgba(1, 1, 218, 0.651);
}

.day p {
  display: flex;
  margin: 0;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: "Arimo";
}

.cal_month .selectedAssignDay {
  color: red !important;
}

.day .otherDay {
  opacity: 0.4;
}

.day .sunday {
  color: rgba(228, 4, 4, 0.712);
}

.day .saturday {
  color: rgba(1, 1, 218, 0.651);
}

.currentDay {
  border-radius: 20px;
  color: white;
  background-color: #bfb1eb;
}
