/* to-do */
.todayTodo {
  background-color: #ffffff;
  grid-area: todayToDo;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 580px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 2px rgb(237 237 237);
  border-radius: 9px;
}

.todoTitle {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Distant Galaxy", sans-serif;
  -webkit-transform: scale(1, 1.2);
  color: #7b417b;
}

.addPageBtn {
  width: 200px;
}

.pageList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.pageCell {
  height: 30px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #e4dbff;
  margin-bottom: 10px;
  box-shadow: #d9d9d9 2px 2px 4px 1px;
}

.pageCell p {
  margin: 0;
  margin-left: 20px;
}

.pageCell button {
  margin-right: 10px;
  background-color: #e4dbff;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 20px;
  color: #7b68ee;
}

.prntPageCell + .pageCell {
  transform: translateX(20px);
}

.prntPageCell {
  transform: translateX(0px);
  background-color: #f7f5fd;
}

.prntPageCell button {
  margin-right: 10px;
  background-color: #f7f5fd;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 20px;
  color: #7b68ee;
}

.addEvtBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 40px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  box-shadow: 3px 3px 6px 1px rgb(208, 208, 208);
  position: absolute;
  background-color: #7b417b;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
